body {
    background-color: #000;
    /* Fundo preto */
    font-family: Arial, Helvetica, sans-serif;
}

#changeColorButton {
    margin-left: 1075px;
    background-color: #48c78e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Estilo de hover para o botão */
  #changeColorButton:hover {
    background-color: #028e4f; /* Nova cor de fundo quando hover */
  }

.navbar {
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
}

.line {
    line-height: 1.6;
}

.cor {
    color: #f59595;
}

strong {
    color: #e99393;
}

.fa-linkedin {
    color: #415dfa;
    font-size: 25px;
    margin-right: 5px;
}

.textD {
    color: #fff;
    font-size: 21px;
    margin-left: 5px;
}

.fa-github-square {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 25px;
    margin-top: 7px;
    margin-left: 5px;
}

.subtitulo1 {
    margin-top: 10px;
}

.fa-hornbill {
    font-size: 27px;
}